* {
    font-family: 'Ubuntu', sans-serif !important; 
}

html {
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.55);
    box-shadow: 0px 4px 4px rgba(207, 207, 207, 0.25);
    padding: 7px 79px;
}

header img {
    width: 100px;
}

#button {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 14px;
    color: white;
    background-color: #0082f180;
    border: none;
    border-radius: 4px;
    padding: 12px;
    transition: 1s;
    cursor: pointer;
}

.header-right:hover p {
    color: #0082f1;
    transition: 1s;
}

body {
    background-image: url(../../dist/img/18722088_v870-mynt-06.jpg);/* https://www.freepik.com/free-vector/clean-medical-background-vector_18722088.htm#query=medical%20background&position=47&from_view=keyword&track=ais" Image by rawpixel.com on Freepik */
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 54px 0px;
}

#log_in {
    outline: transparent;
    position: absolute;
    top: 180px;
    background: #f5f9f9;
    box-shadow: 0px 4px 18px rgba(207, 207, 207, 0.25);
    width: 444px;
    height: 200px;
    padding-top: 38px;
    padding-bottom: 76px;
}

#cross::before { 
    display: inline-block;
    position: absolute;
    content: "\00d7";
    color: #BEBEBE;
    font-size: 30px;
    left: 410px;
    top: 10px;
    cursor: pointer;
    transition: 1s;
}

#cross:hover::before {
    color: #000000ba;
    transition: 1s;
}

section div {
    width: 324px;
    margin: 0 auto;
}

section div p {
    font-weight: bold;
    font-size: 18px;
    line-height: 14px;
    color: #000000ba;
    text-align: center;
    margin-bottom: 20px;
}

input {
    color: #434343;
}

.form-field {
    transition: 0.5s;
    background: #FFFFFF;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid #F2F2F2;
    outline: none;
    margin-bottom: 15px;
    padding: 15px 20px;
    width: 324px;
    height: 44px;
    display: block;
}

.form-field:focus {
    transition: 0.5s;
    background: #FFFFFF;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

#password {
    position: relative;
}

#togglePassword {
    position: absolute;
    top: 145px;
    right: 70px;
    cursor: pointer;
}

#submit {
    background: #0082f180;
    border-radius: 4px;
    border: none;
    width: 324px;
    height: 46px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 16px;
    margin-top: 20px;
    transition: 1s;
    cursor: auto;
}

#errorMessage {
    color: #ff0000;
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
    display: none;
}

.error {
    border: 1px solid #ff0000;
    background: #f9e7e7
}